html,body {
    margin: 2px;
    height:60%;
    background-color: rgb(226, 193, 255);

}
h2{
    font-family: 'Poppins',sans-serif;
    text-align: center;
    font-size: 72px;
    color:#4d0b68;
    
}

ul{
    color: #4d0b68;
    list-style-type:upper;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 42px;
    margin-left: 100px;

}
span{
    position: relative;
    height: 50%;
    width: 50%;
}
.spancontainer{
    height: 100%;
}
